## **Tuples**

**A tuple is a collection of ordered, immutable (unchangeable) elements**

 * **Basic Properties :**

   - Ordered 

   - Immutable  (you can't change items after creation)

   - Allows duplicate values 

   - Elements can be of different data types 

   - Defined using parentheses ()

**When to Use Tuple ?**

* When data should not be modified

* For faster access than lists

* As dictionary keys

#### **Creating the tuple**

**Empty Tuple**

In [1]:
t = ()
print(t)

()

**Creating the tuple with single element**

In [ ]:
# Normal way 

t1 = (2)
print(t1)  # its giving only 2 not a tuple like this (2)

print(type(t1))  # see its integer

2
<class 'int'>

In [ ]:
# Creating the tuple with single element

t1 = (2,) 
print(t1)

print(type(t1))  # now it's tuple 

# So this is way or syntax to create the single element tuple

(2,)
<class 'tuple'>

**Homogeneous Tuple**

In [7]:
t2 = (1,2,3,4,5)

print(t2)

(1, 2, 3, 4, 5)

**Hetrogeneous Tuple**

In [9]:
t3 = (1,8.2,True,[1,2,3])
print(t3)

(1, 8.2, True, [1, 2, 3])

**2D Tuple**

In [11]:
t = (1,2,3,4,(5,6,7))
print(t)

(1, 2, 3, 4, (5, 6, 7))

**Using type conversion**

In [13]:
t3 = tuple('hello')
print(t3)

('h', 'e', 'l', 'l', 'o')

#### **Accessing Items**

- Indexing

- Slicing

In [ ]:
# Indexing 

t = (1,2,3,4,5,6)

print(t[2]) # positive indexing 

print(t[-2]) # negative indexing

3
5

In [23]:
# Slicing 

t2 = (1,2,3,4,5,6)

print(t2[0:4])  # +ve slicing

(1, 2, 3, 4)

In [24]:
print(t2[0:4:2])  # jumps

(1, 3)

In [25]:
print(t2[-5:-1]) # -ve slicing

(2, 3, 4, 5)

In [26]:
# To reverse the tuple 

print(t2[::-1])

(6, 5, 4, 3, 2, 1)

In [30]:
# For 2D Tuple 

t = (1,2,3,4,(5,6))

print(t[-1][0])

print(t[-1][1])

5
6

#### **Editing And Adding items**

In [ ]:
# Tuples are immutable , so we can't modify them

#### **Deleting**

**We can delete complete tuple , but can't delete the portion of tuple**

In [1]:
t = (1,2,3,4,(5,6))

del t

#### **Operation on Tuples**

**1. Arithmetic Operators  * , +**

**2. Membership Operators**

**3. Loops**

**1. Arithmetic Operators  * , +**

In [ ]:
t1 = (1,2,3,4)
t2 = (5,6,7,8)

(1, 2, 3, 4, 5, 6, 7, 8)

In [ ]:
# + operator
print(t1 + t2)

In [15]:
# * operator

print(t1 * 2)

(1, 2, 3, 4, 1, 2, 3, 4)

**Membership Operators**

In [19]:
t1 = (1,2,3,4)

1 in t1

True

In [18]:
5 in t1

False

In [20]:
5 not in t1

True

**3. Loops**

In [21]:
t1 = (1,2,3,4)

for i in t1:
    print(i)

1
2
3
4

#### **Tuple Functions**

**Built-in Functions with Tuples :**

| Function          | Description                                                             |
| ----------------- | ----------------------------------------------------------------------- |
| `len(tuple)`      | Returns the number of elements in the tuple                             |
| `max(tuple)`      | Returns the maximum value in the tuple (works with comparable elements) |
| `min(tuple)`      | Returns the minimum value in the tuple                                  |
| `sum(tuple)`      | Returns the sum of all elements (only numeric values)                   |
| `sorted(tuple)`   | Returns a sorted list from the tuple                                    |
| `tuple(iterable)` | Converts an iterable (like list/string) into a tuple                    |



**Tuple Methods :**

| Method           | Description                                          |
| ---------------- | ---------------------------------------------------- |
| `tuple.count(x)` | Returns the number of times `x` appears in the tuple |
| `tuple.index(x)` | Returns the first index of `x` in the tuple          |

In [4]:
t = (1,2,3,4,5,6)

In [5]:
# len()

print(len(t))

6

In [6]:
# max()

print(max(t))

6

In [7]:
# min()

print(min(t))

1

In [8]:
# sorted()

print(sorted(t))

[1, 2, 3, 4, 5, 6]

In [13]:
# sorted()  in reverse

print(sorted(t,reverse=True))

[6, 5, 4, 3, 2, 1]

In [9]:
# sum()

print(sum(t))

21

In [10]:
# tuple ()

l = [1,2,3,4]

print(tuple(l))

(1, 2, 3, 4)

In [11]:
# count()

t.count(4)

1

In [12]:
# index()

t.index(6)

5

#### **Difference between Lists and Tuples**

| Feature               | **List**                       | **Tuple**                        |
| --------------------- | ------------------------------ | -------------------------------- |
| **Syntax**            | `list1 = [1, 2, 3]`            | `tuple1 = (1, 2, 3)`             |
| **Mutable**           | Yes – Can be changed           | No – Immutable (can't change)  |
| **Performance**       | Slower (due to mutability)     | Faster (fixed size, optimized)   |
| **Methods Available** | Many methods (`append`, `pop`) | Fewer methods (`count`, `index`) |
| **Memory Usage**      | Uses more memory               | Uses less memory                 |
| **Use Case**          | When data changes frequently   | When data should remain constant |
| **Can be a dict key** | No                             | Yes                            |
| **Safety**            | Less safe – can be modified    | Safer – can't be modified        |
| **Iteration**         | Slightly slower                | Slightly faster                  |

**Performance Test**

In [19]:
import time

L = list(range(10000000))
t = tuple(range(10000000))

start = time.time()
for i in L:
    i*5
print("The time taken by List:",time.time()- start)

start1 = time.time()
for i in t:
    i*5
print("The time taken by Tuple:",time.time()- start1)

The time taken by List: 0.7194516658782959
The time taken by Tuple: 0.7118313312530518

**Memory Test**

In [21]:
import sys

L = list(range(1000))
t = tuple(range(1000))

print("Memory taken by list :",sys.getsizeof(L))
print("Memory taken by tuple :",sys.getsizeof(t))

Memory taken by list : 8056
Memory taken by tuple : 8040

**Error Prone Test**

In [24]:
# List

a = [1,2,3,4]
b = a

a.append(5)
print(a)
print(b)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]

In [25]:
# Tuple 

a = (1,2,3,4)

b = a 

a = a + (5,)
print(a)
print(b)

(1, 2, 3, 4, 5)
(1, 2, 3, 4)

#### Special Syntax

In [ ]:
a, b, c = (1,2,3)
print(a,b,c)

1 2 3

In [ ]:
# a, b = (1,2,3)  # it will give error , both side must be equal

**Special Syntax to swap the items**

In [30]:
a = 1
b = 2

a, b = b, a

print(a,b)

2 1

**tuple unpacking**

In [31]:
a, b, *others = (1,2,3,4,5)

print(others)

[3, 4, 5]

#### Zipping the tuples

In [34]:
a = (1,2,3,4)
b = (5,6,7,8)

list(zip(a,b))

[(1, 5), (2, 6), (3, 7), (4, 8)]

In [35]:
tuple(zip(a,b))

((1, 5), (2, 6), (3, 7), (4, 8))