## String 

**A string is a sequence of characters like letters, numbers, or symbols â€” written in quotes**

**In Python specifically, strings are a sequence of Unicode Characters**

Example :

In [ ]:
name = 'fake coder'
msg = 'Hello python'

#### Creating a String

In [3]:
s = 'hello'
s = "Hello python"

# From multiline strings
s = '''Hello python''' 
s = """Hello
       python"""
print(s)

Hello
       python

In [2]:
# s = 'it's sunday today'   # it will throw an error
s = "it's sunday today"
print(s)

it's sunday today

**Creating string through type conversion**

In [4]:
s = str('hello')
print(type(s))

<class 'str'>

### Accessing substrings from strings

**Indexing**

* Positive Indexing
* Negative Indexing

In [ ]:
# Positive Indexing --> 0 to +num

s = 'Hello python'
print(s[0])
print(s[4])

H
o

In [10]:
# Negative Indexing --> -1 to -num

s = 'Hello python'
print(s[-1])
print(s[-8])

n
o

**Slicing**

In [ ]:
s = 'Hello python'

print(s[0:5]) # 0 to 4 (last one is not included)

print(s[2:]) # 2 to end

Hello
llo python

**Slicing with steps or jumps**

In [19]:
s = 'Hello python'
print(s[0:5:2])    # 0 to 5 with jump of 2

print(s[0:5:3])  # 0 to 5 with jump of 3

Hlo
Hl

**Negative jumps**

In [ ]:
# Note : first number must be bigger
s = 'Hello python'

print(s[5:0:-1])  # See five is bigger

 olle

**To reverse the string**

In [20]:
st = 'python'

print(st[::-1])

nohtyp

**Negative Slicing**

In [26]:
st = 'python'

print(st[-5:])

ython

In [40]:
# Example : reverse of world

st = 'python world'

print(st[-1:-6:-1])

dlrow

### Editing and Deleting in Strings

**Editing String**

In [ ]:
# st = 'python world'

# st[0] = 'h'

# TypeError: 'str' object does not support item assignment

# Python strings are immutable (can't change or edit)

**Deleting Strings**

In [ ]:
s = 'python'

del s   # You are deleting string , but not actually deleting the string

In [ ]:
# Even this is not possible

# s = 'python'

# del s[0:5:-1]   --> no editing

### Operations on Strings

##### **1) Arithmetic Operations on Strings**

| Operation     | Syntax        | Example             | Output         |
| ------------- | ------------- | ------------------- | -------------- |
| Concatenation | `str1 + str2` | `"Hello" + "World"` | `'HelloWorld'` |
| Repetition    | `str * n`     | `"Hi" * 3`          | `'HiHiHi'`     |

Note : You cannot use - , / , * between two strings directly (will give error).

**Concatenation**

In [46]:
print('Hello' + 'World')

print('hello' +' '+ 'python')

HelloWorld
hello python

**Repetition**

In [47]:
print('hi'*3)

hihihi

##### 2) Relational (Comparison) Operations

| Operation        | Syntax | Example              | Output |
| ---------------- | ------ | -------------------- | ------ |
| Equal to         | `==`   | `"abc" == "abc"`     | `True` |
| Not equal to     | `!=`   | `"abc" != "xyz"`     | `True` |
| Greater than     | `>`    | `"b" > "a"`          | `True` |
| Less than        | `<`    | `"apple" < "banana"` | `True` |
| Greater or Equal | `>=`   | `"a" >= "a"`         | `True` |
| Less or Equal    | `<=`   | `"a" <= "b"`         | `True` |

These compare based on alphabetical order (ASCII values)

In [ ]:
# Equal to
'Pune' == 'Pune'

True

In [51]:
# Not Equal to
'Delhi' != 'delhi'

True

In [52]:
# Greater than
'a' > 'b'

False

In [ ]:
# You can try them all

##### 3) Logical Operations on Strings

| Operation | Syntax            | Example                     | Output |
| --------- | ----------------- | --------------------------- | ------ |
| `and`     | `cond1 and cond2` | `"a" == "a" and "b" == "b"` | `True` |
| `or`      | `cond1 or cond2`  | `"a" == "a" or "b" == "c"`  | `True` |
| `not`     | `not cond`        | `not ("a" == "b")`          | `True` |

Used to combine relational expressions on strings

**Note : That python says empty string ( ' ' ) = False and string with characters ('hello') = True**

In [ ]:
# Example 

'' and 'hello'   # Output --> ''  --> because '' = false

''

In [55]:
# Example 2

'' or 'Hii'  # Output --> 'Hii'

'Hii'

In [ ]:
# Example 3

'hello' or 'python'   # Here python checking first one and findings true so output is hello

'hello'

In [57]:
# Example 4 : for and 

'hello' and 'world'  # For and it has to check both , so second one found as True , Output is 'world'

'world'

In [ ]:
# One more example for and 

'hello' and  ''  # Second one is False , Output False

''

In [62]:
# not 

not ''  # Negation

True

In [63]:
not 'hi'

False

##### 4) Loops on Strings

* **for loop**

In [1]:
t = 'python'

for char in t:
    print(char)

p
y
t
h
o
n

In [4]:
for i in 'hello':
    print('python')

python
python
python
python
python

* **while loop**

In [6]:
text = 'Python'
i = 0

while i < len(text):
    print(text[i])
    i += 1

P
y
t
h
o
n

##### 5) Membership Operations

| Operation | Syntax           | Example              | Output |
| --------- | ---------------- | -------------------- | ------ |
| `in`      | `'sub' in str`   | `"Kis" in "Kisan"`   | `True` |
| `not in`  | `'x' not in str` | `"z" not in "Kisan"` | `True` |

In [7]:
'P' in 'Pune'

True

In [8]:
'A' not in 'Pune'

True

### Common String Functions

| Function       | Description                               | Example                                | Output               |
| -------------- | ----------------------------------------- | -------------------------------------- | -------------------- |
| `len()`        | Returns length of string                  | `len("Kisan")`                         | `5`                  |
| `lower()`      | Converts to lowercase                     | `"Hello".lower()`                      | `'hello'`            |
| `upper()`      | Converts to uppercase                     | `"hello".upper()`                      | `'HELLO'`            |
| `capitalize()` | Capitalizes first letter                  | `"kisan".capitalize()`                 | `'Kisan'`            |
| `title()`      | Capitalizes first letter of each word     | `"my name is kisan".title()`           | `'My Name Is Kisan'` |
| `strip()`      | Removes spaces from both ends             | `"  Kisan  ".strip()`                  | `'Kisan'`            |
| `lstrip()`     | Removes spaces from left                  | `"  Kisan".lstrip()`                   | `'Kisan'`            |
| `rstrip()`     | Removes spaces from right                 | `"Kisan  ".rstrip()`                   | `'Kisan'`            |
| `find()`       | Finds index of first occurrence           | `"Kisan".find("a")`                    | `3`                  |
| `index()`      | Same as find, raises error if not found   | `"Kisan".index("s")`                   | `2`                  |
| `replace()`    | Replaces substring                        | `"Hi Kisan".replace("Kisan", "Yadav")` | `'Hi Yadav'`         |
| `count()`      | Counts occurrences                        | `"banana".count("a")`                  | `3`                  |
| `startswith()` | Checks if string starts with given value  | `"Hello".startswith("H")`              | `True`               |
| `endswith()`   | Checks if string ends with given value    | `"Hello".endswith("o")`                | `True`               |
| `split()`      | Splits string by space or given separator | `"a,b,c".split(",")`                   | `['a', 'b', 'c']`    |
| `join()`       | Joins list of strings with separator      | `".".join(['a','b','c'])`              | `'a.b.c'`            |
| `isalpha()`    | Checks all characters are alphabets       | `"Kisan".isalpha()`                    | `True`               |
| `isdigit()`    | Checks all characters are digits          | `"123".isdigit()`                      | `True`               |
| `isalnum()`    | Checks all characters are alphanumeric    | `"abc123".isalnum()`                   | `True`               |
| `islower()`    | Checks if all characters are lowercase    | `"hello".islower()`                    | `True`               |
| `isupper()`    | Checks if all characters are uppercase    | `"HELLO".isupper()`                    | `True`               |

**Note --> All string functions do not change the original string (strings are immutable in Python)**

* **len ( )**

In [ ]:
st = 'python'

print(len(st))

6

In [ ]:
st = 'hello python'

print(len(st))  # it count space as 1 char ( here are 11 char but len is 12)

12

* **lower( )**

In [ ]:
'Hello'.lower()

'python'

In [15]:
'PYTHON'.lower()

'python'

* **islower( )**

In [16]:
'hello'.islower()

True

In [17]:
'Hello'.islower()

False

* **upper( )**

In [ ]:
'hello'.upper()

'HELLO'

* **isupper( )**

In [18]:
'HELLO'.isupper()

True

In [19]:
'Hello'.isupper()

False

* **capitalize( )**

In [20]:
'python'.capitalize()

'Python'

* **title( )**

In [21]:
n = 'my name is python'

n.title()

'My Name Is Python'

* **strip( )**

In [22]:
' Python '.strip()

'Python'

* **lstrip( )**

In [23]:
' Python'.lstrip()

'Python'

* **rstrip( )**

In [24]:
'Python '.rstrip()

'Python'

* **find( )**

In [34]:
'World'.find('o')

1

* **index( )**

In [29]:
'Program'.index('m')

6

* **replace( )**

In [35]:
'python program'.replace('program','programming')

'python programming'

In [5]:
a ='apple'
sorted(a)

['a', 'e', 'l', 'p', 'p']

In [4]:
sorted(a,reverse=True)

['p', 'p', 'l', 'e', 'a']

In [ ]:
# You can explore other functions given in table