## **Sets**

**In Python, a set is an unordered collection of unique elements. It is used to store multiple items in a single variable without duplicates**

**Key Features of Sets :**

- Unordered → Elements have no index and no fixed order

- Unique Elements → No duplicates allowed

- Mutable → You can add or remove elements

- Heterogeneous → Can store different data types (int, string, etc.)

- No indexing or slicing → Because they are unordered

**Important Points :**

- You cannot store mutable objects like lists or dictionaries inside a set

- Sets are faster than lists for checking membership (in keyword)

#### **Creating sets**

empty set

In [3]:
s = {}
print(s)
print(type(s))

{}
<class 'dict'>

In [4]:
# So to create an empty set
s = set()
print(s)
print(type(s))

set()
<class 'set'>

1D Set

In [9]:
s1 = {1,2,3,4,5}
print(s1)
print(type(s1))

{1, 2, 3, 4, 5}
<class 'set'>

2D Set

In [ ]:
# We cannot create the 2D set

Heterogeneous Set

In [11]:
s = {1,3.4,'hello',True}
print(s)

# True is treated as one and double are not allowed , so True is not there in output

{1, 'hello', 3.4}

Using type conversion

In [12]:
s = set([1,2,4,5,6])
print(s)

{1, 2, 4, 5, 6}

Duplicates are not allowed

In [14]:
s5 = {1,1,2,2,3,3}
print(s5)

{1, 2, 3}

Sets can't have mutable items

In [16]:
# s6 = {1,2,3,[4,5,6]}  X this is not allowed

In [ ]:
s1 = {1,2,3}
s2 = {3,2,1}

print(s1 == s2)   # Content same --> True , order doesn't matter

True

#### **Accessing Items**

**Indexing And Slicing**

In [ ]:
# It is not possible to access the items in set 
# No indexing and No Slice

**Adding New Items**

In [ ]:
# add function  ( hashing controls the index position of added item)

s = {1,2,3,4}

s.add(5)
print(s)

{1, 2, 3, 4, 5}

In [20]:
# update 

s.update([6,7,8])
print(s)

{1, 2, 3, 4, 5, 6, 7, 8}

**Deleting the items in set**

**del**

In [2]:
s = {1,2,3,4,5}

del s

**discard**

In [ ]:
s = {1,2,3,4,5}

s.discard(5)
print(s)

{1, 2, 3, 4}

In [ ]:
# This don't give error
# Example

s = {1,2,3,4,5}
s.discard(50)  # Not give an error

**remove**

In [ ]:
s = {1,2,3,4,5}

s.remove(5)

In [8]:
# This will give error
# Example 

s = {1,2,3,4,5}

# s.remove(50)   ---> it will give error

**pop**

In [ ]:
s = {1,2,3,4,5} 

s.pop()  # It deletes any random item within set

print(s)

{2, 3, 4, 5}

**clear**

In [ ]:
s = {1,2,3,4,5}

s.clear()   # empty the set
print(s)

set()

#### **Set Operations**

In [13]:
s1 = {1,2,3,4,5}

s2 = {4,5,6,7,8}

**Union ( | )**

In [14]:
s1 | s2

{1, 2, 3, 4, 5, 6, 7, 8}

**Intersection ( & )**

In [15]:
s1 & s2

{4, 5}

**Difference ( - )**

In [16]:
s1 - s2

{1, 2, 3}

In [17]:
s2 - s1

{6, 7, 8}

**Symmetric Difference ( ^ )**

In [18]:
s1 ^ s2

{1, 2, 3, 6, 7, 8}

**Membership Test**

In [19]:
1 in s1

True

In [20]:
3 not in s1

False

**Iteration**

In [21]:
for i in s1:
    print(i)

1
2
3
4
5

#### **Set Function**

**len / sum / min / max / sorted**

In [22]:
s = {1,2,3,4,5}

In [28]:
print(len(s))

print(max(s))

print(min(s))

print(sum(s))

print(sorted(s))

print(sorted(s,reverse=True))

5
5
1
15
[1, 2, 3, 4, 5]
[5, 4, 3, 2, 1]

**Union / Update**

In [29]:
s1 = {1,2,3,4,5}

s2 = {4,5,6,7,8}

In [30]:
s1.union(s2)

{1, 2, 3, 4, 5, 6, 7, 8}

In [31]:
# update

s1.update(s2)

print(s1)
print(s2)

{1, 2, 3, 4, 5, 6, 7, 8}
{4, 5, 6, 7, 8}

**Intersection / Intersection_update**

In [32]:
s1 = {1,2,3,4,5}

s2 = {4,5,6,7,8}

In [33]:
s1.intersection(s2)

{4, 5}

In [34]:
# update 

s1.intersection_update(s2)
print(s1)
print(s2)

{4, 5}
{4, 5, 6, 7, 8}

**Difference / Difference_update**

In [35]:
s1 = {1,2,3,4,5}

s2 = {4,5,6,7,8}

In [36]:
s1.difference(s2)

{1, 2, 3}

In [37]:
#update

s1.difference_update(s2)
print(s1)
print(s2)

{1, 2, 3}
{4, 5, 6, 7, 8}

**Symmetric Difference / Symmetric Difference Update**

In [38]:
s1 = {1,2,3,4,5}

s2 = {4,5,6,7,8}

In [39]:
s1.symmetric_difference(s2)

{1, 2, 3, 6, 7, 8}

In [40]:
#update

s1.symmetric_difference_update(s2)
print(s1)
print(s2)

{1, 2, 3, 6, 7, 8}
{4, 5, 6, 7, 8}

**isdisjoint / issubset / issuperset**

In [41]:
# is disjoint
s1 = {1,2,3,4,5}

s2 = {4,5,6,7,8}

s1.isdisjoint(s2)

False

In [42]:
# is issubset
s1 = {1,2,3,4,5}

s2 = {4,5,6,7,8}

s1.issubset(s2)

False

In [44]:
# is superset

s1 = {1,2,3,4,5}

s2 = {4,5,6,7,8}

s1.issuperset(s2)

False

copy

In [47]:
s1 = {1,2,3,4,5}

s2 = s1.copy()

s2

{1, 2, 3, 4, 5}

#### **Frozenset**

**Frozen set is just an immutable version of python set object**

In [49]:
fs = frozenset([1,2,3,4])

print(fs)

frozenset({1, 2, 3, 4})

2D Frozenset

In [52]:
fs = frozenset([1,2,3,frozenset([2,3,4])])
fs

frozenset({1, 2, 3, frozenset({2, 3, 4})})

#### **Set Comprehension**

In [50]:
{i**2 for i in range(1,11) if i > 5}

{36, 49, 64, 81, 100}