In [ ]:
# Program 1

print("Core2Web")

Core2Web

In [8]:
# Program 2

num = 18
print(num)

18

In [14]:
# Program 3

num = 23.45
print(type(num))

<class 'float'>

In [ ]:
# Program 4
comp = 2 + 3j
print(comp)

(2+3j)

In [11]:
# Program 5

name = "Krushna"
print(name)

Krushna

In [12]:
# Program 6

b = True
print(b)

True

In [ ]:
# Program 7 

num = 25 

print(type(num))

<class 'int'>

In [ ]:
# Program 8 

num = 31.5
print(type(num))

<class 'float'>

In [16]:
# Program 9 

a = 10
b = 20.5

print(a+b)

30.5

In [ ]:
# Program 10

subject = ['DSA','Java','Python','Machine Learning','Statistics']
print(subject[0])
print(subject[1])
print(subject[2])
print(subject[3])
print(subject[4])

DSA
Java
Python
Machine Learning
Statistics

In [ ]:
# Program 11

t = (2,3,4,5,6,7)
print(t)

(2, 3, 4, 5, 6, 7)

In [26]:
# Program 12

my_list = [10, 20, 30, 40, 50]
total_sum = sum(my_list)
print(total_sum)

150

In [27]:
# Program 13

s = {1,2,3,4,5,5,6,6}
print(s)

{1, 2, 3, 4, 5, 6}

In [29]:
# Program 14

my_list = [10, 20, 30, 40, 50]
my_list[3] = 'Core2Web'
print(my_list)

[10, 20, 30, 'Core2Web', 50]

In [34]:
# Program 15

my_dict = {"name": "Rohan", "age": 22, "mark": 99}

print(my_dict["name"])
print(my_dict["age"])
print(my_dict["mark"])

Rohan
22
99

In [35]:
# Program 16

my_dict = {"name": "Rohan", "age": 22, "mark": 99}

my_dict['name'] = "Krushna"

print(my_dict)

{'name': 'Krushna', 'age': 22, 'mark': 99}

In [40]:
# Program 17

my_dict = {0:10,1:20,2:25,3:30,4:40}

if 2 in my_dict:
    print(my_dict[2])
else:
    print("Key not found")

result = my_dict[2] + my_dict[3]
print("Result:",result)

25
Result: 55

In [41]:
# Program 18

n = None
print(n)

None

In [42]:
# Program 19

s1 = 'String1'
s2 = "String2"
s3 = '''String3'''

print(s1)
print(s2)
print(s3)

String1
String2
String3

In [45]:
# Program 20

my_int = 10
my_float = 20.10
my_complex = 2+3j
my_string = "Core2Web"
my_list = [1,2,3,4,5]
my_tuple = (1,2,3,4,5)
my_dict = {"name": "Rohan", "age": 22, "mark": 99}
my_set = {1,2,3,4,5}
my_bool = True
my_none = None

print(my_int)
print(my_float)
print(my_complex)
print(my_string)
print(my_list)
print(my_tuple)
print(my_dict)
print(my_set)
print(my_bool)
print(my_none)

10
20.1
(2+3j)
Core2Web
[1, 2, 3, 4, 5]
(1, 2, 3, 4, 5)
{'name': 'Rohan', 'age': 22, 'mark': 99}
{1, 2, 3, 4, 5}
True
None