## 1) `Python Print Function`

The print( ) function is used to show output on the screen.

Think of it like speaking out loud — whatever you want the computer to say, you put inside print( ).

**Syntax**

In [ ]:
# print(anything that we want to print)

**Example**

In [ ]:
print('Hello, I am Python ')

Hello, I am Python

 ## We can print

**1) Text ( Strings )**

In [ ]:
print("My name is python a programming language, it is very easy to understand me")

My name is python a programming language, it is very easy to understand me

**2) Numbers**

In [ ]:
# integer value

print(21)

# float value

print(8.5)

21
8.5

**3) Variables**

In [ ]:
name = "python"

print(name)

python

**3) Expressions**

In [ ]:
# Adding 5 and 8

print(5 + 8)

13

**4) We can also print them together in one line**

In [ ]:
print("Hello Python",21,name,True,5+8)

Hello Python 21 python True 13

## Optional Parameters

**1) `sep` - Separator between items**

In [ ]:
print('Hello',True,8.5,21,sep='/')
print('\n')
print('Python',True,8.5,21,sep=';')

Hello/True/8.5/21


Python;True;8.5;21

**`end` – What to print at the end (default is \n for new line)**

In [ ]:
print('Hello',end=',')
print('Kaise ho app')

Hello,Kaise ho app

## 2) **`Data Types`**

A data type is a way to classify the kind of value a variable holds, such as a number, text, or list, so Python knows how to work with it.

**Simple Analogy**

* Think of data types like labels on boxes:

* One box says "number" (for ages)

* Another says "text" (for names)

* Another says "True/False" (for yes/no questions)

Python uses data types to choose the right box for each kind of data.


###  Python Data Types Table

| **Data Type** | **Definition**                               | **Example**                  |
|---------------|-----------------------------------------------|------------------------------|
| `int`         | Whole number (no decimal)                    | `10`, `-5`                   |
| `float`       | Number with decimal                          | `3.14`, `-0.01`              |
| `str`         | Sequence of characters (text)                | `"Hello"`, `'123abc'`        |
| `bool`        | Logical value: True or False                 | `True`, `False`              |
| `list`        | Ordered, changeable collection               | `[1, 2, 3]`, `["a", "b"]`     |
| `tuple`       | Ordered, unchangeable collection             | `(10, 20)`, `("x", "y")`     |
| `dict`        | Collection of key-value pairs                | `{"name": "Amit"}`           |
| `set`         | Unordered collection of unique items         | `{1, 2, 3}`, `{"a", "b"}`     |

### `Int`

An integer is a whole number — it has no decimal point.

* Examples: -3, 0, 5, 999, 1000000

* In Python, integers belong to the `int` data type.

In [ ]:
print(21)

21

In [ ]:
a = 34
b = -3
print(a+b)

31

**To check the type**

In [ ]:
a = 10
print(type(a))

<class 'int'>

**Converting to int**

We use `int( )`

In [ ]:
a = 12.4
print(type(a))
print(int(a))

<class 'float'>
12

**Note : No limit on integer size (unlike some languages)**

In [ ]:
big = 99999999999999999999999999999999999999
print(big)

99999999999999999999999999999999999999

### `Float`

A float is a number that has a decimal point.

* Examples: 3.14, -1.5, 0.0, 99.99

* In Python, float numbers belong to the `float` data type

In [ ]:
print(4.555)

4.555

In [ ]:
b = 2.5555
print(b)

2.5555

**Checking the type**

In [ ]:
print(type(b))

<class 'float'>

**Coverting to float**

we use `float( )`

In [ ]:
a = '2.4' # text (string)
print(type(a))
print(float(a)) # converted to float

<class 'str'>
2.4

### `Boolean`

A Boolean represents only two possible values:
* True
* False

Think of a light switch:

💡 ON → True

💡 OFF → False

`Booleans are mostly used in conditions and decisions`

In [ ]:
is_pass = True
is_fail = False

print(is_pass)
print(is_fail)

True
False

**Use Cases**

In [ ]:
age = 18
print(age >= 18)

True

**Converting to boolean**

We use `bool( )`

In [ ]:
bool(0)         # False
bool(1)         # True
bool("")        # False
bool("hello")   # True
bool([])        # False
bool([1, 2])    # True

True

### `String Data Type`

A string is a sequence of characters — anything inside quotes (single ' ' or double " ")

Examples: "hello", 'Python123', "123", "!"

`Yes, even numbers inside quotes are considered strings, not numbers!`

**Creating the string**

In [ ]:
name = 'Kisan'
greeting = 'Hello'
print(name)
print(greeting)

Kisan
Hello

**Multi Line String**

`We use '''triple quotes''' for multi line`

In [ ]:
text = '''This is
multi
line string
'''
print(text)

This is
multi
line string

### `Complex Numbers`

A complex number has two parts:

Real part (like 2)

Imaginary part (like 3j)

`In Python, a complex number is written as`

`a + bj`

Where:

a = real part (a float or int)

b = imaginary part (with j, not i like in math)

Example : 3 + 4j

In [ ]:
z = 3 + 4j
print(type(z))
print(z)

<class 'complex'>
(3+4j)

### `Lists`

A list is an ordered collection of items, where you can:

* Store multiple values

* Change, add, or remove items

* Mix different data types

`A list is written in square brackets [ ], with items separated by commas`

**Creating and printing the list**

In [ ]:
numbers = [1,2,3,4,5]

print(numbers)

print(type(numbers))

[1, 2, 3, 4, 5]
<class 'list'>

### `Tuples`

A tuple is an ordered collection of items, just like a list, but with one big difference:

Tuples are immutable — meaning once created, you cannot change them.

`Tuples use round brackets (), and items are separated by commas`

**Creating and printing tuple**

In [ ]:
t = (1, 2, 3)
print(t)
print(type(t))

(1, 2, 3)
<class 'tuple'>

### `Dictionary`

A dictionary is a collection of `key-value pairs`.

Just like a real dictionary maps a word (key) to its meaning (value),a Python dictionary maps a key to a value

**Creating and accessing the list**

In [ ]:
person = {
    'name':'Shubham',
    'age':21
}
print(person)
print(person['name'])

{'name': 'Shubham', 'age': 21}
Shubham

### `Sets`

A set is an unordered collection of unique items — no duplicates allowed.

A set is like a mathematical set: {1, 2, 3}

In [ ]:
num = {1,2,3}
print(num)

{1, 2, 3}

## 3) `Variables`

**A variable is a name that refers to a value stored in memory**

**Think of variables like stickers on jars:**

One jar has sugar, another has salt.

You label them:
* sugar_jar = "sugar"

* salt_jar = "salt"

You can change the sticker later

***

**`Variable Rules in Python`**

1. Start with a letter or _ (not a number)

2. Can contain letters, numbers, and underscores

3. Case-sensitive (name ≠ Name)

4. Cannot be Python keywords (like if, class, etc.)

**Example**

In [ ]:
name = "Fake Coder"
age = 21
height = 5.8

### `Important Topics : Typing and Binding`

**`What is Typing ?`**

Typing refers to how a programming language handles data types (like int, str, float, etc.) during coding and execution

**`Static Typing`**

In statically typed languages, you must declare the data type of every variable when you write the code

**Example**

In [ ]:
# int age = 21
# String name = "Fake Coder"

* Advantages:

 * Errors are caught before running (during compilation)

 * More predictable

 * Better for large, strict projects

**`Dynamic Typing`**

In dynamically typed languages, you don't declare types — the interpreter figures them out at runtime

**Example**

In [ ]:
x = 10
x = 'String'

* **Advantages**

  * Type changes automatically

  * Easier and faster to write

 * **Disadvantages**

   * Errors happen at runtime, not while writing

   * Bugs may go unnoticed in big programs

***

**`Static Binding (also called Early Binding)`**

Static Binding is when the type of object or method is determined by the compiler at compile time

* The function or method to be called is fixed before the program runs.

  Used for:

    * Variables

    * Functions

    * Method Overloading

* Common in C++, Java, C# (statically typed languages)

**Example**

In [ ]:
# int x = 10;        x is statically bound to type int

# x = "hello";       Error! You can't change type from int to String

**`Dynamic Binding (also called Late Binding)`**

Dynamic Binding is when the method or variable reference is resolved at runtime, based on the actual object

* Typically happens in inheritance and polymorphism with method overriding

* The compiler does not know which method will be executed — it's decided during execution

**Example**

In [ ]:
x = 10          # x is int now
x = "hello"     # Now x is str — allowed!

**Python always uses dynamic binding because**

* It’s dynamically typed

* Method and variable lookups happen at runtime

In [ ]:
a = 5
print(a)

a = 'Fake Coder'
print(a)

# Both will print

5
Fake Coder

**Different way of creating variables**

In [ ]:
a, b, c = 1,2,3
print(a,b,c)

1 2 3

In [ ]:
a = b = c = 5
print(a,b,c )

5 5 5

## 4) `Keywords & Identifiers`

**`Keywords`**

Keywords are reserved words that have special meaning in Python.
You cannot use them as variable names, function names, or identifiers

Python uses them to define syntax and structure of the code

| Type       | Examples                                                 |
| ---------- | -------------------------------------------------------- |
| Control    | `if`, `else`, `elif`, `for`, `while`                     |
| Functions  | `def`, `return`, `lambda`                                |
| Classes    | `class`, `super`                                         |
| Logic      | `True`, `False`, `None`                                  |
| Exceptions | `try`, `except`, `raise`, `finally`                      |
| Imports    | `import`, `from`, `as`                                   |
| Others     | `and`, `or`, `not`, `in`, `is`, `global`, `pass`, `with` |

**You can see all Python keywords using**

In [ ]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

**We Can't do this**

In [ ]:
#def = 4  # It will throw an syntax error

**`Identifiers`**

Identifiers are names used to identify variables, functions, classes, etc. that you create.

They are the names you choose in your code

**Rules of writing identifiers**

| Rule                                             | Example                   |
| ------------------------------------------------ | ------------------------- |
| Can contain **letters, digits, and underscores** | `my_name`, `a1`, `user_2` |
| Cannot start with a digit                        | `1name` ❌                 |
| Cannot use keywords                              | `if`, `def` ❌             |
| Are **case-sensitive**                           | `age` ≠ `Age`             |

In [ ]:
name = "Amit"            # 'name' is an identifier
def greet(): ...         # 'greet' is an identifier
class Student: ...       # 'Student' is an identifier

## 5) `Type Conversion`

Type conversion means changing a value from one data type to another

For example: changing a string "123" to an integer 123

**`There are two types`**

| Type                    | Description                                                    |
| ----------------------- | -------------------------------------------------------------- |
| **Implicit Conversion** | Automatically done by Python                                   |
| **Explicit Conversion** | Manually done by the programmer (also called **type casting**) |

**1. Implicit Type Conversion (Automatic)**

Python automatically converts data types when needed

In [ ]:
a = 10
b = 10.5

print(type(a),type(b))
sum = a + b
print(sum)
print(type(sum))

<class 'int'> <class 'float'>
20.5
<class 'float'>

**2. Explicit Type Conversion (Manual)**

You convert data types using type functions like int( ), float( ), str( ) etc

In [ ]:
# Converting str to int
x = "50"
y = int(x)     # Now y = 50 (int)

# Converting int to float
a = 5
b = float(a)   # 5.0

# Converting int to str
num = 100
text = str(num)   # "100"

| From → To   | Code Example          | Result          |
| ----------- | --------------------- | --------------- |
| str → int   | `int("42")`           | `42`            |
| int → str   | `str(123)`            | `"123"`         |
| float → int | `int(3.99)`           | `3` (no round)  |
| int → float | `float(5)`            | `5.0`           |
| any → bool  | `bool("")`, `bool(0)` | `False`         |
| list ↔ str  | `list("abc")`         | `['a','b','c']` |

## 6) `User Input`

**`input( )`**

input() is a built-in Python function that takes input from the user as a string

It pauses the program and waits for the user to type something and press Enter

In [ ]:
name = input("What your name :")
print(name)

What your name :Fake Coder
Fake Coder

  
  * The text inside the quotes is shown to the user as a prompt

  * The value entered is stored in the variable as a string

**`Note : Even if the user types a number, it's stored as a string by default`**

In [ ]:
age = input("Enter your age: ")
print(age, type(age))

Enter your age: 21
21 <class 'str'>

**Type Conversion**

| Task                     | Code Example                            | Notes                  |
| ------------------------ | --------------------------------------- | ---------------------- |
| Take string input        | `name = input("Your name: ")`           | Always string          |
| Take integer input       | `age = int(input("Your age: "))`        | Convert to int         |
| Take float input         | `price = float(input("Enter price: "))` | Convert to float       |
| Print input with message | `print("Hello", name)`                  | Can combine with `f""` |
| Combine input and output | `print(f"You are {age} years old.")`    | f-string formatting    |

In [ ]:
age = int(input("Enter your age: "))    # For whole numbers
pi = float(input("Enter value of pi: "))  # For decimal values

Enter your age: 21
Enter value of pi: 3.14

## 7) `Literals`

A literal is a fixed value assigned to a variable directly in the code.
It represents the actual data (not a variable or expression).

In simple words:
 Literals are the actual values you type in your program

**Example**

In [ ]:
x = 10         # 10 is an integer literal
name = "Amit"  # "Amit" is a string literal
pi = 3.14      # 3.14 is a float literal

## 8) `Operators`

An operator is a symbol or keyword that performs an operation on one or more values (called operands)

**`Types of Operators in Python`**

| Category          | Description                       | Examples             |               |
| ----------------- | --------------------------------- | -------------------- | ------------- |
| **1. Arithmetic** | Math operations                   | `+`, `-`, `*`, `/`   |               |
| **2. Assignment** | Assign values to variables        | `=`, `+=`, `*=`      |               |
| **3. Comparison** | Compare two values                | `==`, `!=`, `>`, `<` |               |
| **4. Logical**    | Combine conditions                | `and`, `or`, `not`   |               |
| **5. Identity**   | Check if two objects are same     | `is`, `is not`       |               |
| **6. Membership** | Check if value is in a collection | `in`, `not in`       |               |
| **7. Bitwise**    | Operate on bits                   | `&`,

1. **`Arithmetic Operators`**

| Operator | Meaning        | Example   | Output |
| -------- | -------------- | --------- | ------ |
| `+`      | Addition       | `3 + 2`   | `5`    |
| `-`      | Subtraction    | `5 - 1`   | `4`    |
| `*`      | Multiplication | `4 * 2`   | `8`    |
| `/`      | Division       | `10 / 2`  | `5.0`  |
| `//`     | Floor Division | `10 // 3` | `3`    |
| `%`      | Modulus        | `10 % 3`  | `1`    |
| `**`     | Exponentiation | `2 ** 3`  | `8`    |

In [ ]:
a = 20
b = 10

print("Addition: ",a+b)

print("Subtraction: ",a-b)

print("Multiplication: ",a*b)

print("Division: ",a/b)

print("Integer Division: ",a//b) # floor divison or integer division

print("Modulus: ",a%b)

print("Exponentiation",a**2)

Addition:  30
Subtraction:  10
Multiplication:  200
Division:  2.0
Integer Division:  2
Modulus:  0
Exponentiation 400

2. **`Assignment Operators`**

| Operator | Meaning             | Example  |
| -------- | ------------------- | -------- |
| `=`      | Assign value        | `x = 5`  |
| `+=`     | Add and assign      | `x += 3` |
| `-=`     | Subtract and assign | `x -= 2` |
| `*=`     | Multiply and assign | `x *= 4` |
| `/=`     | Divide and assign   | `x /= 2` |

In [ ]:
# Assign value

d = 100

a = 10

a +=2
print(a)

a -= 2
print(a)

a*= 3
print(a)

a /=2
print(a)

12
10
30
15.0

3. **`Comparison (Relational) Operators`**

| Operator | Meaning               | Example  | Output  |
| -------- | --------------------- | -------- | ------- |
| `==`     | Equal to              | `5 == 5` | `True`  |
| `!=`     | Not equal to          | `5 != 3` | `True`  |
| `>`      | Greater than          | `5 > 2`  | `True`  |
| `<`      | Less than             | `3 < 7`  | `True`  |
| `>=`     | Greater than or equal | `5 >= 5` | `True`  |
| `<=`     | Less than or equal    | `2 <= 1` | `False` |

In [ ]:
a = 10
b = 15

print('a is equal to b: ',a == b)

print('a is not equal to b: ',a!=b)

print('a is greater than b: ',a > b)

print('a is less than b:', a < b)

print('a is greater than = to b:', a >= b)

print('a is less than = to b', a <= b)

a is equal to b:  False
a is not equal to b:  True
a is greater than b:  False
a is less than b: True
a is greater than = to b: False
a is less than = to b True

4. **`Logical Operators`**

| Operator | Meaning         | Example          | Output  |
| -------- | --------------- | ---------------- | ------- |
| `and`    | Both conditions | `True and False` | `False` |
| `or`     | At least one    | `True or False`  | `True`  |
| `not`    | Reverse         | `not True`       | `False` |

In [ ]:
a = 10
b = 0
print("and operator:", a and b)

print("or operator:", a or b)

print("not operator",not a)

and operator: 0
or operator: 10
not operator False

5. **`Identity Operators`**

| Operator | Meaning                   | Example      |
| -------- | ------------------------- | ------------ |
| `is`     | Same object (same memory) | `x is y`     |
| `is not` | Not the same object       | `x is not y` |

In [ ]:
a = 10
b = 10

print(a is b)
print(a is not b)

True
False

6. **`Membership Operators`**

| Operator | Meaning                  | Example              | Output |
| -------- | ------------------------ | -------------------- | ------ |
| `in`     | Value exists in sequence | `'a' in 'cat'`       | `True` |
| `not in` | Value doesn't exist      | `5 not in [1, 2, 3]` | `True` |

In [ ]:
print( 'D' in 'Delhi')
print( 'P' not in 'Pune')

True
False

7. **`Bitwise Operators (Advanced)`**

| Operator | Name        | Description                                         | Example  | Binary Operation                | Result |
| -------- | ----------- | --------------------------------------------------- | -------- | ------------------------------- | ------ |
| `&`      | AND         | 1 if **both** bits are 1                            | `5 & 3`  | `0101 & 0011 → 0001`            | `1`    |
| `\|`     | OR          | 1 if **at least one** bit is 1                      | `5 \| 3` | `0101 \| 0011 → 0111`           | `7`    |
| `^`      | XOR         | 1 if bits are **different**                         | `5 ^ 3`  | `0101 ^ 0011 → 0110`            | `6`    |
| `~`      | NOT         | Inverts all bits (`~x = -(x + 1)`)                  | `~5`     | `~00000101 → 11111010` (→ `-6`) | `-6`   |
| `<<`     | Left Shift  | Shifts bits **left**, fills with 0s (× 2 per shift) | `5 << 1` | `0101 << 1 → 1010`              | `10`   |
| `>>`     | Right Shift | Shifts bits **right**, discards rightmost bits      | `5 >> 1` | `0101 >> 1 → 0010`              | `2`    |

In [ ]:
# Not used more ( only used in some cases (for data science))

print(2 & 3)

print(2 | 3)

print(2 ^ 3)

print(~2)

print(3 << 2)

print(8 >> 2)

2
3
1
-3
12
2